.select2-selection__rendered {
    line-height: 20px !important;
    color: white !important;
}

.select2-container .select2-selection--single {
    height: 38px !important;
    background-color: #2A3038;
}

.select2-container--default .select2-results__option[aria-selected=true] {
    background-color: #2A3038;
}

.select2-selection__arrow {
    height: 38px !important;
}

.daterangepicker {
    color: black;
}

.daterangepicker td.off,
.daterangepicker td.off.in-range,
.daterangepicker td.off.start-date,
.daterangepicker td.off.end-date {
    color: #999 !important;
}

.daterangepicker td.active {
    color: white !important;
}

.daterangepicker td.active,
.daterangepicker td.active:hover {
    color: white !important;
}

.daterangepicker td,
.daterangepicker td:hover {
    color: black !important;
}